<section class="container">
  <div class="row">
    <div class="col-small-6 col-large-3">
      <article class="card">
        <div class="card__img"><p class="card__title">Drive</p></div>
        <div class="card__content">
          <h4><b>John Doe</b></h4>
          <p>
            The Vauxhall Mokka X is a stylish and spacious small SUV that stands
            out with a raised ground clearance, roof rails and 18” or 19” alloy
            wheels. Ultimate models stand out even more with the Premium Sport
            Line Pack
          </p>
        </div>
      </article>
    </div>
    <div class="col-small-6 col-large-3">
      <article class="card">
        <div class="card__img"><p class="card__title">Design</p></div>
        <div class="card__content">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </article>
    </div>
    <div class="col-small-6 col-large-3">
      <article class="card">
        <div class="card__img"><p class="card__title">Drive</p></div>
        <div class="card__content">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </article>
    </div>
    <div class="col-small-6 col-large-3">
      <article class="card">
        <div class="card__img"><p class="card__title">Drive</p></div>
        <div class="card__content">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </article>
    </div>
  </div>
</section>
