<section class="container">
  <div class="row">
    <div class="col-small-12">
      <h2>
        View our latest SUVS here from Vaxhaull at
        <strong class="cta__strong">EDEN MOTOR GROUP</strong>.
      </h2>
    </div>
    <div class="col-small-12">
      <p>
        Using award-winning technology, the new Vauxhall SUV range is extremely
        practical and versatile, and really stands out with striking style. This
        exciting new range is bursting with new technology to make your drive
        easier and safer. Options such as cruise control and rear parking camera
        are supplied as standard on several models at an affordable price.
      </p>
      <p>
        Whatever you're looking for in an SUV, Vauxhall has a car to match your
        needs. Whether it be the nippy, manoeuvrability, stylish Mokka X, the
        mid-sized Crossland X, ideal for growing families. The Grandland X
        completes the family with a big personality to match its dimensions and
        capacity. Book a test drive in one of our versatile SUVs today.
      </p>
    </div>
  </div>
  <div class="tabs">
    <ul class="tabs-list">
      <li class="active"><a href="#tab1">Crossland</a></li>
      <li><a href="#tab2">Grandland</a></li>
      <li><a href="#tab3">Mokka</a></li>
    </ul>
    <div id="tab1" class="tab active">
      <div class="row">
        <div class="col-small-12">
          <h3>Vaxhaull Crossland</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
            atque odio neque impedit sapiente officia aliquid sit culpa
            molestias, voluptates amet veniam consequuntur, facilis esse.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Drive</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>
                The Vauxhall Mokka X is a stylish and spacious small SUV that
                stands out with a raised ground clearance, roof rails and 18” or
                19” alloy wheels. Ultimate models stand out even more with the
                Premium Sport Line Pack
              </p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Design</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Practicality</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img">
              <p class="card__title">Living with it</p>
            </div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
      </div>
      <!--Nav-->
      <include src="./partials/nav.html"></include>
    </div>
    <div id="tab2" class="tab">
      <div class="row">
        <div class="col-small-12">
          <h3>Vaxhaull Grandland</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
            atque odio neque impedit sapiente officia aliquid sit culpa
            molestias, voluptates amet veniam consequuntur, facilis esse.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Drive</p></div>
            <div class="card__content">
              <h4><b>Vauxhall 2</b></h4>
              <p>
                The Vauxhall Mokka X is a stylish and spacious small SUV that
                stands out with a raised ground clearance, roof rails and 18” or
                19” alloy wheels. Ultimate models stand out even more with the
                Premium Sport Line Pack
              </p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Design</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Practicality</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Aspernatur minima doloribus blanditiis, quibusdam dolor,
                perferendis ipsa deserunt quam quaerat cum commodi, rem facere
                doloremque reiciendis?
              </p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img">
              <p class="card__title">Living with it</p>
            </div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
      </div>
      <!--Nav-->
      <include src="./partials/nav.html"></include>
    </div>
    <div id="tab3" class="tab">
      <div class="row">
        <div class="col-small-12">
          <h3>Vaxhaull Mokka</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
            atque odio neque impedit sapiente officia aliquid sit culpa
            molestias, voluptates amet veniam consequuntur, facilis esse.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Drive</p></div>
            <div class="card__content">
              <h4><b>Vauxhall 3</b></h4>
              <p>
                The Vauxhall Mokka X is a stylish and spacious small SUV that
                stands out with a raised ground clearance, roof rails and 18” or
                19” alloy wheels. Ultimate models stand out even more with the
                Premium Sport Line Pack
              </p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Design</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img"><p class="card__title">Practicality</p></div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </article>
        </div>
        <div class="col-small-6 col-large-3">
          <article class="card">
            <div class="card__img">
              <p class="card__title">Living with it</p>
            </div>
            <div class="card__content">
              <h4><b>Vauxhall</b></h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi similique eum consequuntur ad odio totam!
              </p>
            </div>
          </article>
        </div>
      </div>
      <!--Nav-->
      <include src="./partials/nav.html"></include>
    </div>
  </div>
</section>
