<header>
  <div class="container">
    <div class="row header__inner">
      <div class="col-xsmall-2 col-large-1">
        <figure>
          <a href="/"
            ><img
              class="header__img"
              src="../assets/vauxhall-logo.png"
              alt="Eden Logo"
          /></a>
        </figure>
      </div>
      <div class="col-xsmall-4 col-large-3">
        <figure>
          <a href="/"
            ><img
              class="header__img"
              src="../assets/eden-logo.png"
              alt="Eden Logo"
          /></a>
        </figure>
      </div>

      <div class="col-small-12 col-large-offset-2 col-large-6">
        <h1 class="header__title">The Vauxhall SUV Family</h1>
      </div>
    </div>
  </div>
</header>
