<nav class="nav">
  <a class="nav__item" href="/new/vauxhall/mokka-x/overview">Explore</a>
  <a class="nav__item" href="/new/vauxhall/mokka-x/offers">Offers</a>
  <a class="nav__item" href="/new/vauxhall/mokka-x/interior">Interior</a>
  <a class="nav__item" href="/new/vauxhall/mokka-x/colours">Colours</a>
  <a class="nav__item" href="/new/vauxhall/mokka-x/nearly">Nearly New</a>
  <a class="nav__item">Test Drive</a>
  <a class="nav__item">Brochure</a>
  <a class="nav__item">Contact Us</a>
</nav>
