<div class="newcar-subnav">
  <div class="container-fluid">
    <div class="subnav-model-name Mokka X">
      Vauxhall <br /><span>Mokka X</span>
    </div>
    <ul>
      <li class="subnav-overview active" style="width: 12.5%;">
        <a href="/new/vauxhall/mokka-x/overview">Explore</a>
      </li>
      <li class="subnav-offers" style="width: 12.5%;">
        <a href="/new/vauxhall/mokka-x/offers">Offers</a>
      </li>
      <li class="subnav-interior" style="width: 12.5%;">
        <a href="/new/vauxhall/mokka-x/interior">Interior</a>
      </li>
      <li class="subnav-colours" style="width: 12.5%;">
        <a href="/new/vauxhall/mokka-x/colours">Colours</a>
      </li>
      <li class="subnav-nearly" style="width: 12.5%;">
        <a href="/new/vauxhall/mokka-x/nearly">Nearly New</a>
      </li>
      <li class="newcar-cta" style="width: 12.5%;">
        <a
          class="modal-enquiry"
          data-frch="Vauxhall"
          href="#enquiryModal"
          data-heading="Test Drive"
          data-toggle="modal"
          data-formview="testDriveNewCar"
          data-vehicle="vauxhall mokka-x"
          data-title="Book a Test Drive"
          >Test Drive</a
        >
      </li>
      <li class="newcar-cta" style="width: 12.5%;">
        <a
          class="modal-enquiry"
          data-frch="Vauxhall"
          href="#enquiryModal"
          data-heading="Brochure"
          data-toggle="modal"
          data-formview="brochureNewCar"
          data-vehicle="vauxhall mokka-x"
          data-title="Request a Brochure"
          >Brochure</a
        >
      </li>
      <li class="newcar-cta" style="width: 12.5%;">
        <a
          class="modal-enquiry"
          data-frch="Vauxhall"
          href="#enquiryModal"
          data-heading="Contact Us"
          data-toggle="modal"
          data-formview="enquiryNewCar"
          data-vehicle="vauxhall mokka-x"
          data-title="Contact Us"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
</div>
