.cta {
  &__strong {
    color: #ce181e;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1rem 0;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &__content {
    padding: 2px 16px;
  }

  &__title {
    position: absolute;
    left: 10px;
    bottom: -5px;
    background-color: #ce181e;
    color: #fff;
    line-height: 1;
    padding: 0.75rem;
    border-radius: 2px;
    font-size: 1rem;
  }
  &__img {
    width: 100%;
    background-image: url(https://picsum.photos/200/300);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 60%;
    position: relative;
    cursor: pointer;
  }
}

/* Tabs */
.tabs {
  margin: 1.5rem 0;

  .active {
    display: flex !important;
    a {
      color: #fff;
    }
  }

  &-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
 
    li {
      width: 100px;
      margin: 0px;
      margin-right: 2px;
      padding: 10px 5px;
      text-align: center;
      background-color: #000;
      justify-content: center;

      &.active {
        background-color: #ce181e;
        color: #fff;
      }
      a {
        text-decoration: none;
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tab {
    display: none;
    min-height: 250px;
    height: auto;
    padding: 20px 15px;
    background-color: #eee;
    flex-direction: column;

    h3 {
      border-bottom: 3px solid #ce181e;
      letter-spacing: 1px;
      font-weight: normal;
      padding: 5px;
    }
  }
}
