.header {
  &__inner{
    display: flex;
    align-items: center;

  }
  &__title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;

    @include bp-md {
      text-align: right;
      font-size: 2rem;
    }
  }
}
